.mainNav a:active,
a:link,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}

.card {
    max-width: 18rem;
    max-height: 25rem;
    padding: 1rem;
    margin: 1rem;
    border:none;
}

.imgStyle {
    height: 15rem;
    object-fit: contain;
}